<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="3 seconds">
	<contextName>ssm</contextName>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{32} - SID:%X{SID}|%msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/home/logs/ssm.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>/home/logs/%d{yyyy-MM-dd}/ssm.%i.log</FileNamePattern>
			<MaxHistory>1</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - SID:%X{SID}|%msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="DEBUG">
		<appender-ref ref="logfile"/>
		<appender-ref ref="STDOUT"/>
	</root>
	<!-- <logger name="org.springframework" level="WARN"  additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="logfile" />
	</logger>


	<logger name="org.hibernate.cache" level="WARN"  additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="logfile" />
	</logger>

	<logger name="org.apache.ibatis" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="logfile" />
	</logger>

	<logger name="org.apache.zookeeper" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="logfile" />
	</logger> -->
	<logger name="com.lp" level="DEBUG"   additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="logfile" />
	</logger>
</configuration>
